

<head>
	<%= render 'root/toplist', root: @root %>
</head>
<body>

<div class="flash">
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
</div>


<div class="container">
 <div class="row">
 	<div class="col-lg-3" style="background-color: white">
 		<h2>User show info</h2>
 		<% if @user.image != nil %>
<%= attachment_image_tag @user, :image, :fill, 150, 150, format: 'jpeg' %>
<% else %>
<%= image_tag 'sample_img.gif', style: "height: 150px" %>
<% end %>
 		<table class="table table-hover">

 			<tbody>
 				 <tr>
 					<td>name</td>
 					<td><%= @user.name %></td>
 				 </tr>
 				 <tr>
 					<td>Introduction</td>
 					<td><%= @user.introduction %></td>
 				 </tr>
 			</tbody>
 		</table>

<% if current_user == @user %>
<%= link_to(edit_user_path(current_user.id), class:  "btn btn-default") do %>
		<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
<% end %>
<% end %>

<h1>New book</h1>

<%= form_for(@book) do |f| %>

  <p>Title</p>
  <%= f.text_field :title , class: "edit-title"%>

  <p>Body</p>
  <%= f.text_area :body, class: "edit-body"%>
  <br>
  <%= f.submit 'Create Book', class: "btn btn-primary" %>

<% end %>

 	</div>
 	<div class="col-lg-9">
<h1>Books</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th><P>image</P></th>
				<th><P>title</P></th>
				<th><P>opinion</P></th>
			</tr>
		</thead>
		<tbody>
			<% @user.books.each do |book| %>
				<tr class="new-table">
					<td><span><%= attachment_image_tag book.user, :image, :fill, 50, 50, format: 'jpeg' %></span></td>
					<td><span><%= link_to book.title, "/books/#{book.id}"%></span></td>
					<td><span><%= book.body %></span></td>
				</tr>
			<% end %>

		</tbody>
	</table>
   </div>
  </div>
</div>